body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  padding: 20px;
}

.SearchBar {
  margin: 20px;
  padding: 10px 20px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
}

.ProfilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ProfileCard {
  width: calc(20% - 10px);
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.ProfileCard img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.ProfileCard h2 {
  margin: 10px 0;
}

.ProfileCard p {
  color: #555;
  margin-bottom: 10px;
}

.DeleteButton {
  background-color: #ff4d4d; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  cursor: pointer;
  border-radius: 5px; 
  transition: background-color 0.3s;
}

.DeleteButton:hover {
  background-color: #cc0000; 
}

@media (max-width: 800px) {
  .ProfileCard {
    width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  .ProfileCard {
    width: calc(100% - 10px);
  }

  .SearchBar {
    width: 80%;
  }
}
